body
{

background-image: linear-gradient(to right, yellow ,pink);
}
#boxxx
{

text-align: center;

}
h1
{
font-size:100px;
font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Sansita Swashed', cursive;



}